@font-face {
    font-family: 'Myfont';
    src: url('../font/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Myfont';
    scroll-behavior: smooth;
}

/* navbar */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    backdrop-filter: blur(20px);
}

header .logo{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
}

header ul{
    position: relative;
    display: flex;
    gap: 40px;
}

header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
}

header ul li.activo a{
    color: #00A2FF;
}
header ul li:hover a{
    color: #00A2FF;
}

/* Home */
#home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

#home .content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 650px;
    z-index: 10;
}

#home .content h2{
    position: relative;
    font-size: 4.5em;
    color: #00A2FF;
}

#home .content p{
    position: relative;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.6em;
}

.btn{
    position: relative;
    display: inline-block;
    font-size: 1.25em;
    max-width: 200px;
    background-color: #00A2FF;
    color: #222;
    text-align: center;
    padding: 18px 30px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-decoration: none;
    margin-top: 10px;
}

#home .imgPerfil{
    position: absolute;
    bottom: 15px;
    right: 100px;
    max-height: 90vh;
    border-radius: 100%;
}

/* Servicios */
#servicios{
    position: relative;
    background-color: #34353a;
    min-height: 100vh;
    padding: 120px 100px;
}

.txtServicios{
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    color: #fff;
    font-size: 2em;
}

.containerCard{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.containerCard .card{
    position: relative;
    width: 220px;
    height: 250px;
    background-color: #2a2a2a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerCard .card .porcentage{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.containerCard .card .porcentage svg{
    position: relative;
    width: 150px;
    height: 150px;
}

.containerCard .card .porcentage svg circle{
    position: relative;
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px,5px);
}

.containerCard .card .porcentage svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
}

/* porfolio */
#portfolio{
    position: relative;
    background-color: #34353a;
    min-height: 100vh;
    padding: 120px 100px;
}

/* contacto */
#contacto{
    position: relative;
    background-color: #34353a;
    min-height: 100vh;
    padding: 120px 100px;
}
